html,
body,
h3,
h4,
h1,
h2,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.form-row {
    width: 85%;
    margin: 30px auto;
}

.form-control {
    width: 100%;
    margin: 0 auto;
    height: 38px;
    border: 1px solid rgb(217, 213, 213);
    border-radius: 8px;
    padding: 2px 10px;
    font-size: 15px;
    font-weight: normal;
    background-color: #f8f8f8;
}

.area {
    padding-right: 20px;
    font-size: 18px;
}

.form-control-checkbox {
    width: 10%;
    margin: 0 auto;
    height: 20px;
    margin-left: 45px;

}

.form-area {
    width: 75%;
    margin: 0 auto;
    height: 150px;
}

.submit-btn {
    padding: 10px 25px;
    border: none;
    background: rgb(18, 131, 201);
    color: white;
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
    font-size: 15px;

}

.header {
    background-image: url('../images/slide1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    color: white;
}

.contact-1 {
    display: flex;
    column-gap: 20px;
}

.contact-phone,
.contact-mail {
    display: flex;
    column-gap: 5px;
    height: 40px;
    align-items: center;
}

.contact-2 {
    display: flex;
    column-gap: 10px;
    justify-content: end;
    height: 40px;
    align-items: center
}

.border-bottom {
    border-bottom: 1px dotted white;
}


.menu {
    height: 90px;
    justify-content: center;
    display: flex;
    column-gap: 60px;
    align-items: center;
}

.menu-item {
    font-size: 18px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.text a:hover {
    text-decoration: none;
    color: black;
    background: white;
    transition: all 1s ease;
    cursor: pointer;
}

.menu-item img {
    width: 100px;
}

.headline-1 {
    font-size: 60px;
    font-weight: bolder;
    padding-top: 100px;
    display: flex;
    justify-content: start;
}

.headline-2 {
    font-size: 60px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.headline-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    width: 100px;
    background-color: rgb(6, 114, 78);
    padding: 10px 6px;
    font-weight: bolder;
    border: none;
    color: white;
    cursor: pointer;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    column-gap: 85px;
}

.logo-container .logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.heading h4 {
    font-family: 'Times New Roman', Times, serif;
    color: #707070;
}

.heading h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading h2 span {
    color: #89be67;
    background: #ececec;
    padding: 0px 7px;
}


.footer-1 {
    background-color: rgb(42, 49, 43);
    height: 100px;
}

.logo-footer {
    padding-left: 80px;
    margin-top: 15px;
    height: 60px;
}

.footer1-text {
    font-size: 22px;
    font-style: italic;
    color: rgb(236, 234, 234);
    padding-left: 110px;
    padding-top: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.footer1-text span {
    color: #205005;
    background: #ececec;
}

.footer2-text1a {
    font-weight: bolder;
    margin-left: 80px;
    color: rgb(236, 234, 234);
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-2 {
    background-color: rgb(26, 34, 27);
    height: 220px;
}

.footer2-text1b {
    margin-left: 80px;
    color: rgb(236, 234, 234);
}

.footer2-text2a {
    font-weight: bolder;
    color: rgb(236, 234, 234);
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer2-text2b-1 {
    color: rgb(236, 234, 234);
    height: 35px;
    width: 200px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding: 6px;
}

.footer-form-control {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    height: 100%;
}

.footer-2 a {
    color: rgb(206, 206, 206);
    cursor: pointer;
    font-size: 18px;
}

.footer-2 a:hover {
    color: rgb(236, 252, 172);
}

.footer2-btn2b-1 {
    margin-top: 10px;
}

.footer2-text3a {
    font-weight: bolder;
    color: rgb(236, 234, 234);
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer2-text3b p {
    color: white;
    padding-bottom: 15px;
}

.footer2-text3b span {
    color: #89be67;
}

.footer2-text4a {
    font-weight: bolder;
    color: rgb(236, 234, 234);
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer2-text4b {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}

.footer2-text4b img {
    width: 65px;
    display: block;
    padding: 2px;
}

.last-footer {
    background-color: black;
    color: black;
    text-align: right;
}

.last-footer-copy {
    color: white;
    padding-right: 87px;
}

.last-footer-socials {
    color: white;
    padding: 10px 75px;
}

.last-footer-socials i {
    padding-right: 10px;
}



.newsletter-img {
    height: 400px;
    padding-left: 50px;
}

.tagline-1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: italic;
    color: gray;
}

.tagline-2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-style: bolder;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tagline-2 span {
    color: #89be67;
    margin-bottom: 10px;
}

.tagline-3 {
    font-size: 20px;
    margin-bottom: 17px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.form-sec {
    display: flex;
    margin-top: 30px;
}

.form-sec button {
    background-color: #89be67;
    cursor: pointer;
    border: none;
    color: white;
    padding: 0px 20px;
    border-radius: 6px;
    height: 50px;
}

.gallery-img {
    display: block;
    width: 100%;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    transition: all 5s ease;
}

.gallery-img img:hover {
    cursor: pointer;
    filter: grayscale(1);
    transform: scale(1.3);
}

.pd-5 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 270px;
    overflow: hidden;
}


.last-footer-copy-section {
    padding-top: 10px;
}

.about-us-padding {
    margin-top: 70px;
    margin-bottom: 70px;
}


.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
    column-gap: 70px;
}

.cart-sec {
    height: 150px;
    width: 180px;
}

.price-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bolder;
    text-align: center;
}

.rating-sec {
    padding-top: 5px;
}

.cart {
    position: relative;
}

.cart-container .cart:hover {
    color: rgb(25, 52, 34);
    opacity: 0.7;
}

.add-to-cart {
    color: white;
    background-color: rgb(25, 52, 34);
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    display: none;
    position: absolute;
    top: 60px;
    left: 45px
}

.cart-container .cart:hover .add-to-cart {
    display: inline-block;
    cursor: pointer;
}

/*--------- Responsive Design----------*/
/*----Desktop-----*/
@media screen and (max-width:1179px) and (min-width:992px) {
    .container {
        width: 740px;
    }
}

/*---Tab---*/
@media screen and (max-width:991px) and (min-width:768px) {
    .container {
        width: 740px
    }
}

/*---Smartphone---------------------------------------------------*/
@media screen and (max-width:767px) and (min-width:576px) {

    .container {
        width: 540px;
    }


    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .card-container {
        overflow: hidden;
        height: auto;
        margin-bottom: 0px;
    }

    .newsletter-section {
        height: auto;
    }

    .newsletter-section-padding {
        padding: 22px;
    }


    .card-container-1 {
        height: auto;
    }

    .card3-details-a {
        font-size: 12px;
    }

    .card3-details-b {
        font-size: 17px;
    }

    .cart-container {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .logo2-container {
        flex-wrap: wrap;
    }

    .card-container-2 {
        overflow: hidden;
        height: auto;
        width: auto;
    }

    .white-wall {
        right: 19px;
        top: 60px;
        width: 220px;
    }

    .white-wall-text {
        right: 38px;
        top: 66px;
    }

    .slide-text-1 {
        font-size: 16px;
    }

    .slide-text-2 {
        font-size: 28px;
    }

    .slide-text-3 {
        font-size: 10px;
    }

    .card-button {
        font-size: 14px;
    }

    .footer1-text {
        font-size: 12px;
    }

    .footer-2 {
        height: auto;
    }

    .footer2-text1a {
        margin-left: 60px;
    }

    .footer2-text1b {
        margin-left: 60px;
    }

    .footer2-text2a {
        margin-left: 60px;
    }

    .footer2-text2b-1 {
        width: 350px;
        margin-left: 60px;
    }

    .footer-2 a {
        margin-left: 60px;
    }

    .footer2-text3a {
        margin-left: 60px;
    }

    .footer2-text3b .fa-regular {
        margin-left: 60px;
    }

    .footer2-text4a {
        margin-left: 60px;
    }

    .footer2-text4b {
        width: auto;
        margin-left: 60px;
    }

    .last-footer {
        text-align: left;
        padding-bottom: 16px;
    }

    .last-footer-copy {
        padding-left: 62px;
    }

    .last-footer-socials {
        padding: 10px 62px;
    }

    .pd-5 {
        height: auto;
    }

    .menu {
        height: 70px;
        column-gap: 20px;
    }


    .menu-item {
        font-size: 15px;
    }
}